
.content{
    text-align: center;
}
.title{
    font-size: 70px;
}
.links{
    font-size: 40px;
    color: red;
}
.links2{
    font-size: 20px;
    color: red;
}
.inner-table{
    font-size: 16px;
}
body {
    display: grid;
    place-items: center;
    height: 100vh;

    background-image: url("gradient.jpg");
}
input {
 width: 290px;
}
